.guide-solution {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 4em;
  color: #41484F;
}

.guide-solution .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guide-solution-block {
  width: 225px;
  margin-right: 2em;
}

.guide-solution-block:nth-child(4) {
  margin-right: 0;
}

.guide-solution-block p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 200;
}

.guide-solution-block span {
  display: block;
  font-size: 24px;
}

.guide-solution-block-icon-wrapper {
  width: 92.62px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  height: 108.74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guide-solution-block-icon-wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.guide-solution-block-icon-wrapper-icon {
  position: relative;
  z-index: 2;
  margin-bottom: .5em;
}

.guide-solution-block-icon-wrapper-icon svg:hover path {
  fill: #fff;
}

.guide-solution-block-icon-wrapper .guide-solution-svg path,
.guide-solution-block-icon-wrapper .guide-solution-arrow path {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.guide-solution-block-icon-wrapper:hover .guide-solution-svg path {
  fill: #ffffff;
}

.guide-solution-block-icon-wrapper:hover .guide-solution-arrow path {
  fill: #41484F;
  -webkit-box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
}

.guide-solution-block-content-wrapper {
  margin-top: .5em;
  height: 100px;
}

.guide-solution .curve-first,
.guide-solution .curve-second,
.guide-solution .curve-third {
  position: absolute;
}

.guide-solution .curve-first {
  left: 16.7%;
  top: 0;
}

.guide-solution .curve-third {
  top: 0;
  right: 16.5%;
}

@media only screen and (max-width: 600px) {
  .guide-title {
    font-size: 4rem;
  }
  .guide-solution {
    margin-top: 10em;
    text-align: center;
    margin-bottom: 4em;
    color: #41484F;
  }
  .guide-solution .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide-solution-block {
    width: 225px;
    margin-right: 0em;
    margin-top: 3em;
  }
  .guide-solution-block:nth-child(4) {
    margin-right: 0;
  }
  .guide-solution-block p {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 200;
  }
  .guide-solution-block span {
    display: block;
    font-size: 24px;
  }
  .guide-solution-block img {
    margin: 0 auto;
  }
  .guide-solution .curve-first,
  .guide-solution .curve-second,
  .guide-solution .curve-third {
    position: absolute;
    display: none;
  }
  .guide-solution .curve-first {
    left: 18%;
    top: 0;
  }
  .guide-solution .curve-third {
    top: 0;
    right: 18%;
  }
}
/*# sourceMappingURL=main.css.map */