.guide-banner {
  color: #41484F;
  margin-bottom: 2em;
  margin-top: 10vh;
}

.guide-banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide-banner-top-left .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guide-banner-top-left span {
  font-size: 24px;
  font-weight: 200;
}

.guide-banner-top-left h1 {
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: .25em;
}

.guide-banner-top-left h1 span {
  color: #FDDA2A;
  font-size: 55px;
  font-weight: bold;
}

.guide-banner-top-left p {
  color: #B2B2B2;
  font-size: 1rem;
  width: 475px;
}

.guide-banner-top-right {
  margin-right: -1em;
}

.guide-banner-top-right img {
  width: 678.02px;
}

.guide-banner-bottom {
  margin-top: 4em;
}

.guide-banner-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide-banner-bottom .first {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}

.guide-banner-bottom-block {
  width: 350px;
  display: block;
  font-size: 18px;
}

.guide-banner-bottom-block span {
  display: inline-block;
  margin-right: .75em;
  width: 50px;
  height: 2px;
  background-color: #DFDFDF;
}

.guide-banner-img {
  display: block;
  margin-top: 5em;
  margin-left: -1em;
}

.guide-banner .btn-primary {
  margin-top: 1em;
  padding: .5em 1em;
  color: #41484F;
  background-color: #FDDA2A;
  border-radius: 5px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.guide-banner .btn-primary:hover {
  background-color: #41484F;
  color: #fff;
}

.guide-banner .ar-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.guide-banner .ar-top span,
.guide-banner .ar-top p,
.guide-banner .ar-top h1,
.guide-banner .ar-top h2 {
  font-family: 'Cairo', sans-serif !important;
}

.guide-banner .ar-top .guide-banner-top-right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: -1em;
}

.guide-banner .ar-top .guide-banner-top-left {
  grid-column: 2 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: right;
  font-family: 'Cairo', sans-serif !important;
}

.guide-banner .ar-top .guide-banner-top-left p {
  display: block;
  width: auto;
  padding: 0;
}

.ar span,
.ar p,
.ar h1,
.ar h2 {
  font-family: 'Cairo', sans-serif !important;
}

.ar .guide-banner-bottom {
  margin-top: -.55em;
  text-align: right;
  background-color: #41484F;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ar .guide-banner-bottom-block {
  margin-right: 0;
}

.ar .guide-banner-bottom .container {
  width: 85%;
}

.ar .guide-banner-bottom .container .first {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  line-height: 1.5;
  width: 320px;
}

.arabic span,
.arabic p,
.arabic h1,
.arabic h2,
.arabic h3,
.arabic h4,
.arabic h5 {
  font-family: 'Cairo', sans-serif !important;
}

.arabic .guide-title {
  padding: .2em 1.5em;
  background-color: #41484F;
  color: #fff !important;
  border-radius: 30px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1em;
}

.arabic .guide-franchise .guide-title,
.arabic .guide-adv .guide-title {
  margin: 0;
  margin-bottom: 2em;
}

.arabic .guide-adv .guide-title {
  display: inline-block;
}

.guide-lang {
  position: fixed;
  top: .5em;
  right: 2em;
  z-index: 2222;
  width: 3em;
  height: 3em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.guide-lang button {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #41484F;
  color: #FDDA2A;
  cursor: pointer;
  outline: none;
}

.guide-lang button:hover {
  background-color: #FDDA2A;
  color: #41484F;
}

.arabic .guide-banner span {
  margin-top: -3em;
}

.arabic .btn-primary {
  display: inline-block;
  margin-left: 80%;
}

@media only screen and (max-width: 600px) {
  .guide-franchise .guide-title {
    display: inline-block;
  }
  html {
    font-size: 50%;
  }
  .guide-title {
    font-size: 24px !important;
  }
  .guide-banner {
    overflow: hidden;
    color: #41484F;
    margin-bottom: 2em;
  }
  .guide-banner-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 4em;
  }
  .guide-banner-top-left {
    width: 100vw;
    grid-column: 1 / -1;
    text-align: center !important;
  }
  .guide-banner-top-left .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide-banner-top-left .btn-primary {
    padding: .5em 2em;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 1.5em;
  }
  .guide-banner-top-left span {
    margin-top: -3em;
    font-size: 24px;
    font-weight: 200;
  }
  .guide-banner-top-left h1 {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: .25em;
  }
  .guide-banner-top-left h1 span {
    color: #FDDA2A;
    font-size: 25px;
    font-weight: bold;
  }
  .guide-banner-top-left p {
    color: #B2B2B2;
    font-size: 2rem;
    width: 100%;
  }
  .guide-banner-top-right {
    display: none;
  }
  .guide-banner-bottom {
    margin-top: 4em;
    text-align: center !important;
    padding-bottom: 8em !important;
    padding-top: 4em;
  }
  .guide-banner-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .guide-banner-bottom .container .first {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
            order: -1 !important;
  }
  .guide-banner-bottom-block {
    width: 100%;
    display: block;
    font-size: 14px;
    margin: 0;
    margin-top: 4em;
  }
  .guide-banner-bottom-block span {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: .75em;
    width: 100%;
    height: 2px;
    background-color: #DFDFDF;
  }
  .guide-banner-img {
    display: block;
    margin-top: 5em;
    margin-left: -1em;
  }
  .guide-lang {
    position: fixed;
    top: 1%;
    right: 4em;
    z-index: 2222;
    width: 6em;
    height: 6em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .guide-lang button {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 3rem;
    border-radius: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #41484F;
    color: #FDDA2A;
    cursor: pointer;
    outline: none;
  }
  .guide-lang button:hover {
    background-color: #FDDA2A;
    color: #41484F;
  }
}
/*# sourceMappingURL=main.css.map */