.guide-offer {
  color: #41484F;
  padding-top: 7em;
  padding-bottom: 4em;
  position: relative;
}

.guide-offer-title {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: .5em;
}

.guide-offer-title span {
  font-weight: 200;
}

.guide-offer p {
  color: #747474;
  font-size: 18px;
  display: block;
  margin-bottom: 1.5em;
  width: 500px;
}

.guide-offer ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[2];
      grid-template-columns: repeat(2, 300px);
}

.guide-offer ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5em;
}

.guide-offer ul li p {
  margin: 0;
}

.guide-offer ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .5em;
}

.guide-offer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide-offer-top-right {
  display: block;
  width: 600.02px;
  height: 529.2px;
  margin-left: 2rem;
}

.guide-offer-bottom {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #f9f9f9;
  margin-top: 6em;
}

.guide-offer-bottom .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guide-offer-bottom .guide-offer-title {
  width: 370px;
}

.guide-offer-bottom-right {
  margin-left: 3em;
}

.guide-offer-bottom-left {
  display: block;
  width: 600.02px;
  height: 529.2px;
  margin-left: -3em;
  margin-right: 2em;
}

.guide-offer-bg-dark {
  display: block;
  width: 110.81px;
  position: absolute;
  top: 52%;
  left: 2%;
}

.guide-offer-bg-light {
  display: block;
  width: 242.32px;
  position: absolute;
  top: 50%;
  right: -3%;
}

.arabic .guide-offer ul {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.arabic .guide-offer ul li p {
  margin: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.arabic .guide-offer ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0em;
  margin-left: .5em;
}

.arabic .guide-offer-title {
  text-align: right;
  width: 100%;
}

.arabic .guide-offer p {
  text-align: right;
  width: 100%;
}

.arabic .guide-offer-top .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arabic .guide-offer-top-right {
  width: 40%;
}

.arabic .guide-offer-top-left {
  width: 50%;
  margin-right: 10%;
}

.arabic .guide-offer-bottom {
  margin-top: 6em;
}

.arabic .guide-offer-bottom .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arabic .guide-offer-bottom .guide-offer-title {
  width: 100%;
}

.arabic .guide-offer-bottom-right {
  margin-left: 3em;
}

.arabic .guide-offer-bottom-left {
  display: block;
  width: 50%;
  height: 100%;
  margin-left: -3em;
  margin-right: 2em;
}

@media only screen and (max-width: 600px) {
  .guide-offer {
    color: #41484F;
    padding-top: 7em;
    padding-bottom: 4em;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .guide-offer-title {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: .5em;
  }
  .guide-offer-title span {
    font-weight: 200;
    display: block;
  }
  .guide-offer p {
    color: #747474;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .guide-offer ul {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 auto;
  }
  .guide-offer ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: .5em;
    text-align: left;
  }
  .guide-offer ul li p {
    margin: 0;
  }
  .guide-offer ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
  }
  .guide-offer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guide-offer-top-right {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
  }
  .guide-offer-bottom {
    margin-top: 6em;
  }
  .guide-offer-bottom .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guide-offer-bottom .guide-offer-title {
    width: 370px;
  }
  .guide-offer-bottom-right {
    margin-left: 3em;
  }
  .guide-offer-bottom-left {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 0em;
    margin-right: 0em;
  }
  .guide-offer-bg-dark {
    display: block;
    width: 110.81px;
    position: absolute;
    top: 52%;
    left: 2%;
  }
  .guide-offer-bg-light {
    display: block;
    width: 242.32px;
    position: absolute;
    top: 50%;
    right: -3%;
  }
  .arabic .guide-offer ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .arabic .guide-offer ul li p {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: right;
  }
  .arabic .guide-offer ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3rem;
    margin-right: 0em;
    margin-left: .5em;
  }
  .arabic .guide-offer-title {
    text-align: center;
    width: 100%;
  }
  .arabic .guide-offer p {
    text-align: center;
    width: 100%;
  }
  .arabic .guide-offer-top .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arabic .guide-offer-top-right {
    width: 100%;
  }
  .arabic .guide-offer-top-left {
    width: 100%;
    margin-right: 0%;
  }
  .arabic .guide-offer-bottom {
    margin-top: 6em;
  }
  .arabic .guide-offer-bottom .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arabic .guide-offer-bottom .guide-offer-title {
    width: 100%;
  }
  .arabic .guide-offer-bottom-right {
    margin-left: 0em;
    width: 100%;
  }
  .arabic .guide-offer-bottom-left {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: -3em;
    margin-right: 2em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=main.css.map */