// Define Variables
$reset: 0px;
$none: none;
$clear: transparent;
// Colors
$colorOne:#FDDA2A;
$colorTwo:#41484F;
$colorThree:#707070;
$colorFour:#ECECEC;
$colorFive:#575D63;
$colorSix:#F9F9F9;

// Fonts Size
$h1: 50px;
$h2: 40px;
$h3: 36px;
$h4: 30px;
$h5: 24px;
$h6: 18px;
$p: 14px;